[Unit]
Description=PiFi web server
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=root
ExecStart=/usr/bin/env python3 /home/pi/networkManager/pifi_web_server.py

[Install]
WantedBy=multi-user.target

