[Unit]
Description=PiFi reset service
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=root
ExecStart=/usr/bin/env python3 /etc/PiFi/pifiReset.py

[Install]
WantedBy=multi-user.target

